<footer class="py-5 bottom-0 vw-100 border-top">
    <div>
      <p class="text-center text-body-secondary">© <%= new Date().getFullYear(); %> BachT30</p>
    </div>
  </footer>
  
  </body>
  
  
  </html>
  